sirena:
  name: Sirena1 #required
  secret: 123456 #required
server:
  host: "127.0.0.1"
  port: 5000
  debug: False
message:
  problems: True
  try_datetime: True
  send_datetime: True
  sirena_name: True
  datetime_format: '%d-%m-%Y %H:%M:%S'
alerters:
  tg:
    enable: True
    api_key: "123456789:AAAaaAAAAAaAAaaaAaaaA" #required
    default_send_id: '123456' #required
    proxy:
      enable: False
      addr: 'socks5://localhost:9050'
  sirena_manager:
    enable: False
    host: "http://127.0.0.1:5000"
    api: "39802830831bed188884e193d8465226" #get on sirena manager

logger:
  level: info #debug,info,warning,error
  log_path: '/var/log/sirenasrv.log'
